table {
  border-collapse: collapse;
  width: 200px;
  text-align: center;
  margin-top: 5px;
}

th,td {
  border: 1px solid black;
  padding: 3px 0px;
}

thead {
  background-color: rgb(255, 52, 52);
  color: white;
}

tfoot {
  background-color: rgb(201, 201, 201);
  font-weight: bold;
  color: rgb(255, 52, 52);
}
